// scss variabes
$white_color: #ffffff;
$secondary_color: #d71920;
$icons_lines_color: #adb0b4;
$text_color: #585858;

// css variables
:root {
    --size: 2rem;
    --width: 60%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: $text_color;
    background-image: url(../assets/images/gateway_background_image.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.flex-juspb-alc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1) !important;
}

.content-wrapper {
    max-width: 700px;
    margin: 0 auto;
}

.custom-bg-danger {
    background-color: $secondary_color;
}
.custom-text-danger {
    color: $secondary_color;
}
.back-history-arrow {
    background-color: unset;
    border: none;
}

.btn-outline-0 {
    &:focus {
        outline: 0;
    }
}

.back-history-arrow:focus {
    outline: 0;
}

.text-capitalize {
    text-transform: capitalize;
}

.flex-justify-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.font-size-m {
    font-size: 1.5rem;
}

.fontweight-500 {
    font-weight: 500;
}

.checked-img {
    width: 15px;
    opacity: 0;
}

.nav.tab-nav {
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

// this gives the red checked icon on input fields
.filled::after {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: $secondary_color;
    display: block;
    position: absolute;
    top: 0;
    right: -1em;
}

.qr-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .qr-label-timer {
        font-size: 1.8rem;
        font-weight: 500;
    }
    .qr-img-wrapper {
        img {
            width: 100%;
        }
    }
}

.nav-pills {
    .tab-link {
        .img-1 {
            display: block;
        }
        .img-2 {
            display: none;
        }
        &.active {
            background-color: $white_color;
            + .checked-img-wrapper .checked-img {
                opacity: 1;
            }
            .img-1 {
                display: none;
            }
            .img-2 {
                display: block;
            }
        }
    }
    .ab-demog-img {
        width: 40%;
    }
    .tab-label {
        color: $icons_lines_color;
    }
}

.bottom-container {
    border-radius: 25px 25px 0 0;
}
.cut_separator {
    border-bottom: 0.7px solid $icons_lines_color;
    position: relative;
    margin-top: 3em;
    margin-bottom: 1.5em;
    > span {
        font-weight: 600;
    }
}

.bank-code {
    font-size: 1.3rem;
    border: none;
    font-weight: 500;
}
.clipboard-btn {
    border: none;
    background-color: $icons_lines_color;
    font-size: 0.6rem;
    display: inline-flex;
    border-radius: 3px;
    padding: 0.7em;
}

.cut_separator > span {
    position: absolute;
    background-color: $white_color;
    padding-right: 2em;
    bottom: -0.4em;
}

form {
    label {
        position: absolute;
        background-color: $white_color;
        padding: 0;
        top: -0.7em;
        left: 2.6em;
        font-size: 0.6rem;
    }
    input {
        display: block;
        width: 100%;
        margin-bottom: 1.9em;
        padding: 0.3em 0.6em;

        &:focus {
            outline: 0;
        }

        // number inputs
        /* Chrome, Safari, Edge, Opera */
        &[type="number"]::-webkit-outer-spin-button,
        &[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }

        /* Firefox */
        &[type="number"] {
            -moz-appearance: textfield;
        }
    }

    .submit-btn {
        background-color: $secondary_color;
        border: none;
        width: 100%;
        color: #fff;
        font-weight: 500;
        font-size: 1.3rem;
        &[disabled] {
            opacity: 0.4;
        }
    }
}

.ussd_form {
    .form-input-wrapper {
        border: 1px solid $icons_lines_color;
        height: 35px;
        display: flex;
        align-items: center;
        .bank-selector {
            border: none;
            &:focus {
                outline: 0;
            }
        }
    }
    .form-input-wrapper.valid {
        border: 1px solid $secondary_color;
    }
}

.transaction-pin-area {
    &.hide {
        display: none;
    }
    .pin-input-wrapper {
        display: flex;
        width: 30%;
        margin: 0 auto;
        input {
            margin: 0;
            border-top: none;
            border-right: none;
            border-left: none;
            text-align: center;
            + input {
                margin-left: 3px;
            }
        }
    }
    .otp-link {
        text-decoration: none;
        &:hover {
            color: $text_color;
        }
    }
}

@media (min-width: 700px) {
    .nav.tab-nav {
        flex-wrap: nowrap;
        overflow-x: hidden;
    }
    form .submit-btn {
        width: 60%;
    }
}
