.form-warapper{
    max-width: 700px;
    margin: 0 auto;
}

input[type="text"]{
    padding: 7px;
}
input[type="text"]:focus{
    outline: 0;
}

.form_grp input{
    width: 100%;
}
.form_grp label,.form_grp input{
    display: block;
}
.form_grp label{
    position: absolute;
    top: -.7em;
    margin: 0;
    left: 5px;
    font-size: .7rem ;
    background-color: #ffffff;
    padding-right: .4em;
    padding-left: .4em;
    transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
}
.form_grp label.sit{
    position: absolute;
    top: unset;
    bottom: 20%;
    margin: 0;
    left: 5px;
    font-size: 1rem ;
    background-color: unset;
    transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
}
.form_grp{
    position: relative;
    margin-bottom: 1.2em;
}